
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container > a{
 text-decoration: none;
}

.flashcard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  margin: 10px;
  background: linear-gradient(45deg, #365050, #00ffb7);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
}

.flashcard h2{
  background-color: #365050a1;
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
  width: 400px;
  height: 150px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.flashcard:hover {
  transform: scale(1.1);
  animation: shake 2s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px) rotate(5deg);
  }
  40% {
    transform: translateX(5px) rotate(-5deg);
  }
  60% {
    transform: translateX(-5px) rotate(5deg);
  }
  80% {
    transform: translateX(5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

.flashcard {
  width: 600px;
  height: 350px; 
  border: 1px solid rgb(4, 4, 4);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: center;
  /* opacity: 70%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

