*{
  color: rgb(60, 60, 60);
}

h1 {
  margin-top: 100px;
}

.landing {
  /* margin-top: 100px; */
  display: flex;
  flex-direction: row;
}

/* .landing-left{
  display: flex;
  flex-direction: column;
} */

#cramodoro-image {
  position: relative;
  z-index: -1;
  width: 80vw;
  transform: translateX(-10.5vw) translateY(-10rem);
}

.btn-holder {
  transform: translateY(-20vw) translateX(5vw);

}

.landing-btn {
  width: 10vw;
  padding: 10px 15px;
  margin-right: 1.5rem;
  border: 2px solid black; 
  box-shadow: none;
  font-weight: bold;
  border-radius: 100px;
  font-size: 1.3vw;
}

#signup-btn {
  color: #fff;
  background: linear-gradient(45deg, #202f2f, #00ffb7);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

#signup-btn:hover {
  background-position: right;
  animation: gradientMovement 2s linear infinite;
}

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#login-btn {
  background: white;
  transition: background-color 0.3s ease-in-out;
}

#login-btn:hover {
  background-color: #d8d8d8;
}




#intro{
  text-align: center;
  font-size: 1rem;
  transform: translateY(-28vw) translateX(10vw);
  width: 40vw;
}


#studying-image {
  width: 30vw;
  border-radius: 8px;
  transform: translateY(1.5vw);
  border: 2px solid rgb(94, 94, 94);
}

@media (min-width: 1670px) {
  #studying-image {
    width: 25vw;
    border-radius: 8px;
    transform: translateY(2.5vw);

  }
}

@media (min-width: 2010px){
  #intro{
    transform: translateY(-26vw) translateX(10vw);
  }
}

