
.carousel-item {
  display: flex;
  justify-content: center;
}

div.carousel-item.active {
  display: flex;
  justify-content: center;
}

.page-container {
  margin: 15vh 100px auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
}

div.carousel-indicators{
  margin-bottom: 0;
  transform: translateY(10vh);
}