.review-container {
    display: flex;
    justify-content: center;
}

.try-these {
    background-color: azure;
    border: 1px solid black;
    border-radius: 15px;
    width: 80vw;
    background: linear-gradient(45deg, #446969, #00d196);
}

.try-these-options {
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 15px;
    width: 20vw;
    margin-bottom: 5vh;
}

.try-these h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}

#suggestions {
    color: white;
    text-align: center;
    line-height: 2.5vh;
}

#suggestions b {
    color: gold;
    text-align: center;
    line-height: 2.5vh;
}

div b {
    color: #00d196;
}
